.page:nth-of-type(odd) {
	background: #2F3238;
}

.page:nth-of-type(even) {
	background: #26292E;
}



.siteTop{
  position: relative;
}

.siteTopContent{
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.aboutImg img{
  max-width: 100%;
}

.siteMap{
  height: 350px;
}

@media (max-width: 768px) {
  .siteMap{
    height: 300px;
  }
}