{% spaceless %}

  {% load static %}
  <!DOCTYPE html>
  <!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
  <!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="ru"><![endif]-->
  <!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="ru"><![endif]-->
  <!--[if (IE 9)]><html class="no-js ie9" lang="ru"><![endif]-->
  <!--[if gt IE 8]><!--> <html lang="ru-RU"> <!--<![endif]-->
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>Brushed | Responsive One Page Template</title>

  <meta name="description" content="Insert Your Site Description" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true"/>
  <meta name="MobileOptimized" content="320"/>

  {#  Mobile Internet Explorer ClearType Technology  #}
  <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <link href="{% static 'css/supersized.css' %}" rel="stylesheet">
  <link href="{% static 'css/supersized.shutter.css' %}" rel="stylesheet">

  <link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">

  <link href="{% static 'css/fonts.css' %}" rel="stylesheet">

  <link href="{% static 'css/shortcodes.css' %}" rel="stylesheet">

  <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

  <!-- Supersized -->
  <link href="{% static 'css/supersized.css' %}" rel="stylesheet">
  <link href="{% static 'css/supersized.shutter.css' %}" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" href="#">

  <link rel="apple-touch-icon" href="#">
  <link rel="apple-touch-icon" sizes="114x114" href="#">
  <link rel="apple-touch-icon" sizes="72x72" href="#">
  <link rel="apple-touch-icon" sizes="144x144" href="#">

  <link rel="stylesheet" href="{% static 'css/ttm.css' %}">

  <script src="{% static 'js/modernizr.js' %}"></script>

</head>


<body>

{#  This section is for Splash Screen  #}
<div class="ole">
  <section id="jSplash">
    <div id="circle"></div>
  </section>
</div>
{#  End of Splash Screen  #}

{#  Homepage Slider  #}
<div class="container">
  <div class="siteTop">
    <div class="siteTopContent">
      <a href="/">logo</a>

      <span>+7 988 888 99 66</span>
    </div>
  </div>
</div>

<div id="home-slider">
  <div class="overlay"></div>

  <div class="slider-text">
    <div id="slidecaption"></div>
  </div>

  <div class="control-nav">
    <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
    <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
    <ul id="slide-list"></ul>

    <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
  </div>
</div>
{#  End Homepage Slider  #}

{#  Header  #}
<header>
  <div class="sticky-nav">
    <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

    <div id="logo">
      <a id="goUp" href="#home-slider" title="Brushed | Responsive One Page Template">Brushed Template</a>
    </div>

    <nav id="menu">
      <ul id="menu-nav">
        <li class="current"><a href="#home-slider">Начало</a></li>
        <li><a href="#about">О нас</a></li>
        <li><a href="#work">Наши проекты</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#contact">Контакты</a></li>
      </ul>
    </nav>

  </div>
</header>
{#  End Header  #}

{#  About Section  #}
<div id="about" class="page">
  <div class="container">
    {#  Title Page  #}
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">About Us</h2>
          <h3 class="title-description">Learn About our Team &amp; Culture.</h3>
        </div>
      </div>
    </div>
    {#  End Title Page  #}

    {#  People  #}
    <div class="row">

      {#  Start Profile  #}
      <div class="span7 profile">
        <div class="image-wrap">
          <div class="hover-wrap">
            <span class="overlay-img"></span>
            <span class="overlay-text-thumb">Lead Designer</span>
          </div>

        </div>
        <h3 class="profile-name">Joshua Insanus</h3>
        <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
          Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

        <div class="social">
          <ul class="social-icons">
            <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
            <li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
            <li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
            <li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
          </ul>
        </div>
      </div>
      {#  End Profile  #}

      <div class="span5 aboutImg">
        <img src="{% static 'img/profile/profile-03.jpg' %}" alt="Joshua Insanus">
      </div>

    </div>
    {#  End People  #}
  </div>
</div>
{#  End About Section  #}

{#  Our Work Section  #}
<div id="work" class="page">
  <div class="container">
    {#  Title Page  #}
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Our Work</h2>
          <h3 class="title-description">Check Out Our Projects on <a href="#">Dribbble</a>.</h3>
        </div>
      </div>
    </div>
    {#  End Title Page  #}

    {#  Portfolio Projects  #}
    <div class="row">
      <div class="span3">
        {#  Filter  #}
        <nav id="options" class="work-nav">
          <ul id="filters" class="option-set" data-option-key="filter">
            <li class="type-work">Type of Work</li>
            <li><a href="#filter" data-option-value="*" class="selected">Все проекты</a></li>
            {% for workstype in workstypes %}
              <li><a href="#filter" data-option-value=".type{{ workstype.id }}">{{ workstype.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        {#  End Filter  #}
      </div>

      <div class="span9">
        <div class="row">
          <section id="projects">
            <ul id="thumbs">

              {% for work in works %}
                <li class="item-thumbs span3 type{{ work.worksType.id }}">
                  <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="" href="{{ work.img.url }}">
                    <span class="overlay-img"></span>
                    <span class="overlay-img-thumb font-icon-plus"></span>
                  </a>
                  <img src="{{ work.img.thumb.url }}" alt="{{ work.title }}">
                </li>
              {% endfor %}

            </ul>
          </section>

        </div>
      </div>
    </div>
    {#  End Portfolio Projects  #}
  </div>
</div>
{#  End Our Work Section  #}

{# start faq #}
<div id="faq" class="page">
  <div class="container">

    {#  Title Page  #}
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">FAQ</h2>
        </div>
      </div>
    </div>
    {#  End Title Page  #}

    {#  Start Toggle  #}
    <div class="accordion" id="toggleArea">

      {% for faq_item in faq %}
        <div class="accordion-group">
          <div class="accordion-heading togglize">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapse{{ faq_item.id }}">
              {{ faq_item.question }}
              <span class="font-icon-plus"></span>
              <span class="font-icon-minus"></span>
            </a>
          </div>
          <div id="collapse{{ faq_item.id }}" class="accordion-body collapse">
            <div class="accordion-inner">
              {{ faq_item.answer }}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    {#  End Toggle  #}
  </div>
</div>
{# end faq #}


{#  Contact Section  #}
<div id="contact" class="page">
  <div class="container">
    {#  Title Page  #}
    <div class="row">
      <div class="span12">
        <div class="title-page">
          <h2 class="title">Get in Touch</h2>
          <h3 class="title-description">We’re currently accepting new client projects. We look forward to serving you.</h3>
        </div>
      </div>
    </div>
    {#  End Title Page  #}

    {#  Contact Form  #}
    <div class="row">
      <div class="span9">

        <form id="contact-form" class="contact-form">
          <p class="contact-name">
            <input id="contact_name" type="text" placeholder="Имя" value="" name="name" />
          </p>
          <p class="contact-email">
            <input id="contact_phone" type="tel" placeholder="Телефон" value="" name="phone" />
          </p>
          <p class="contact-message">
            <textarea id="contact_message" placeholder="Сообщение" name="message" rows="10"></textarea>
          </p>
          <p class="contact-submit">
            <a id="contact-submit" class="submit" href="#">Send Your Email</a>
          </p>

          <div id="response">

          </div>
        </form>

      </div>

      <div class="span3">
        <div class="contact-details">
          <h3>Contact Details</h3>
          <ul>
            <li><a href="#">hello@brushed.com</a></li>
            <li>(916) 375-2525</li>
            <li>
              Brushed Studio
              <br>
              5240 Vanish Island. 105
              <br>
              Unknow
            </li>
          </ul>
        </div>
      </div>
    </div>
    {#  End Contact Form  #}
  </div>
</div>
{#  End Contact Section  #}

{# map #}
<div class="siteMap">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d93429.96202182789!2d47.489692999999995!3d42.96381445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1452761567135" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
{# end map #}

{#  Footer  #}
<footer>
  <p class="credits">&copy; KIWI. <a href="//kiwisite.ru" target="_blank">Создание сайта</a></p>
</footer>
{#  End Footer  #}

{#  Back To Top  #}
<a id="back-to-top" href="#">
  <i class="font-icon-arrow-simple-up"></i>
</a>
{#  End Back to Top  #}


{#  Js  #}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> {#  jQuery Core  #}
<script src="{% static 'js/bootstrap.min.js' %}"></script> {#  Bootstrap  #}
<script src="{% static 'js/supersized.3.2.7.min.js' %}"></script> {#  Slider  #}
<script src="{% static 'js/waypoints.js' %}"></script> {#  WayPoints  #}
<script src="{% static 'js/waypoints-sticky.js' %}"></script> {#  Waypoints for Header  #}
<script src="{% static 'js/jquery.isotope.js' %}"></script> {#  Isotope Filter  #}
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script> {#  Fancybox  #}
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script> {#  Fancybox for Media  #}
<script src="{% static 'js/jquery.tweet.js' %}"></script> {#  Tweet  #}
<script src="{% static 'js/plugins.js' %}"></script> {#  Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi  #}
<script src="{% static 'js/main.js' %}"></script> {#  Default JS  #}

<script>

</script>
{#  End Js  #}

</body>
</html>

{% endspaceless %}